sites/default/settings.php
.idea
nbproject
themes/maennaco/phpThumb/cache
sites/default/files
*.DS_Store
vendor
sites/default/images/profiles
themes/maennaco/images/project
apache/*
logs/*
/apache/
/log.conf/
/docker-compose.yml
/Dockerfile
/nginx/
/nginx/*
/db_clewed/
/etc/
/PHPExcel/
/csv/
config.php