.navbar {
    margin-bottom: 0;
}

.change-frequency {
    font-weight: bold;
    padding: 10px;
}
.this-shift {
    background-color: #ff0000;
}

.two-shift {
    background-color: #da029a;
}

.three-shift {
    background-color: #004eff;
}

.four-six-shift {
    background-color: #ff8400;
}

.six-twelve-shift {
    background-color: #fff000;
}

.five-days-shift {
    background-color: #00ff0c;
}

.number {
    font-size: 50px;
}

.panel {
    margin-bottom: 0px;
}
.panel-primary {
    border-color: #cfcdcd;
}

.panel-primary>.panel-heading {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.panel-primary>.panel-body {
    min-height: 120px;
}

.work-space {
    padding-left: 0px;
    padding-right: 0px;
}

.number2 {
    font-size: 30px;
    font-weight: bold;
}

.table{
    margin-bottom: 0px;
}

h3{
    text-transform: uppercase;
    font-weight: bold;
}

input {
    text-align: left;
}
.action-button {
    text-transform: uppercase;
    width: 200px;
    display: block;
    margin-bottom: 10px;
}
.process-table>thead>tr>th {
    border: 0px;
    text-align: center;
}

.process-table>tbody>tr>td {
    border:0px;
    height: 25px;
    text-align: center;
	    width: 24%;
		font-size:100px;

}

.current-shift-table {
    width: 80%;
    border: 0px;
}

.current-shift-table>thead>tr>th {
    border-bottom: 0px;
    text-align: center;
}

.current-shift-table>tbody>tr>td {
    border-top:0px;
    height: 25px;
}

@media (min-width: 992px){
    .container {
        width: 1600px;
    }

    .form-div{
        text-align: center;
    }

    #day_no{
        width: 50px;
    }

    #current_time{
        width: 120px;
    }

    #hours{
        width: 50px;
    }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .form-div{
        text-align: center;
    }

    #day_no{
        width: 50px;
    }

    #current_time{
        width: 120px;
    }

    #hours{
        width: 50px;
    }
}

#priority_table {
    overflow: auto;
}

#barcode_table_div{
    padding: 20px;
}

#barcode_table{
    background-color: white;
}

.barcode-table>tbody>tr>td {
    height: 40px;
}

.current-shift-output {
    width: 90%;
    border: 0px;
}

.current-shift-output>thead>tr>th {
    border-bottom: 0px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffcc99;
}

.current-shift-output>tbody>tr>td {
    border-top:0px;
    height: 50px;
}

.header-fixed {
    width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 500px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {

    float: left;
}
.td.barcode.sorting_1 {
    font-size: 46px;
    font-weight: bold;
}

.td.barcode.sorting_1 {
    font-size: 63px;
}
select>option{height:50px;}


.total {
    background-color: #4a90e2;
    color:#fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #fff;
}

.left-in {
    width:50%;
    float:left;
    color:#fff; padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:1px solid #fff;
    font-weight: bold;
}

.right-out {
    width:50%;
    float:right;
    color:#fff;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid #fff;
    font-weight: bold;
}

.my-alert {
    position: fixed;
    top: 5px;
    left: 2%;
    width: 96%;
    z-index: 100;

}